<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <title>Lembrete</title>
</head>
<body>
    <div>
        <h1>Novo lembrete</h1>
        <form action="/insertLembrete" method="post">
            <input id="lembrete" name="nome" type="text" placeholder="Nome Lemre">
            <input id="data" name="data" type="date">
            <button type="submit">criar</button>
        </form>
    </div>

    <div>
        <h1>Lembretes</h1>
        <ul>
            <% getLembrete.forEach((item) => {%>
                <li>
                    <%= item.nome %> --:--<%= item.data %><a href="/finish/<%=item._id%>"><i class="bi bi-x-circle-fill"></i></a> 
                </li>
            <% }) %>
        </ul>       
    </div>

    <div>
        <h3>Teste de exibição:</h3>
        
        <% let data = []
            data.push(dateNow[0]);
            data.push(dateNow[1]);
            data.push(dateNow[2])
        %>

        <% getLembrete.forEach((i) => { %>  
            
            <h3><%=data[0]%>/<%=data[1]%>/<%=data[2]%></h3>
            <ul>
                <% getLembrete.forEach((item) => { %>
                    <% if(item.data[0] == data[0] && item.data[1] == data[1]){ %>
                        <li>
                            <%=item.nome %>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
                    
        <% }) %>
              
            


                    

        
          
    </div>




</body>
</html>

